@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=Dancing+Script:wght@700&family=IBM+Plex+Sans:wght@600&family=Josefin+Sans&family=Jost:wght@600&family=Kanit:wght@500&family=Lilita+One&family=Montserrat:wght@700&family=Noto+Sans:wght@700&family=Open+Sans:wght@600&family=Paytone+One&family=Prompt:wght@300&family=Rancho&family=Righteous&family=Rubik+Maps&family=Sedgwick+Ave+Display&family=Sigmar&display=swap');

/* navbar dan main content */
body {
    background-color: #e3e3e3;
}

ul li a:hover {
    background-color: #ffffff;
    border-radius: 5px;
    color: rgb(222, 31, 31);
}

.logo-team {
    font-family: 'Josefin Sans';
    font-size: 50px;
}

.huruf-blog {
    font-family: 'Montserrat';
    font-size: 50px;
}

.huruf-open {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.posisi-character {
    margin-top: 40px;
}

.huruf-data {
    font-family: 'Open sans';
}
.huruf-an {
    margin-bottom: 108px;
    font-family: 'Open sans';
}

.huruf-meetings {
    font-family: 'Open sans';
}
.huruf-the {
    font-family: 'Open sans';
}
.huruf-team {
    font-family: 'Open sans';
}
.huruf-why {
    font-family: 'Open sans';
}
.huruf-what {
    margin-bottom: 49px;
    font-family: 'Open sans';
}
.huruf-the-team {
    font-family: 'Open sans';
}
.huruf-steve {
    font-family: 'Open sans';
}
.huruf-the-executive {
    margin-bottom: 50px;
    font-family: 'Open sans';
}

.posisi-character-2 {
    margin-top: 99px;
}
.posisi-character-3 {
    margin-top: 84px;
}

.huruf-what-new {
    font-family: 'Open sans';
}

.huruf-an-internal {
    margin-bottom: 62px;
    font-family: 'Open sans';
}
.huruf-drive {
    font-family: 'Open sans';
}

.huruf-new {
    font-family: 'Open sans';
    margin-top: -10px;
}
.huruf-tips {
    font-family: 'Open sans';
}

.huruf-producer {
    font-family: 'Open sans';
    padding-bottom: 69px;
}

.posisi-next {
    margin-top: 90px;
}

.huruf-previous {
    font-family: 'Open sans';
    padding: 13px 80px;
    margin-bottom: 100px;
    font-weight: 700;
    background-color: #4f3fba;
}

.bg-apbar {
    background-color: #4f3fba;
}

.nav-link:hover {
    border: 5px solid #4f3fba;
    border-radius: 15px;
}

.huruf-author {
    font-size: 15px;
    font-family: 'Open Sans';
}
/* navbar dan main content */

/* footer */
.bg-footer {
    background-color: #181d45;
}

.headline-footer {
    color: #4d37de;
}

.panah-email-bawah {
    margin: 0px 0px 0px 200px;
  }
  

